/*Rania colors*/
.w3-text-midnight-blue{color:#191970 !important}.w3-midnight-blue,.w3-hover-midnight-blue:hover{color:#fff !important;background-color:#191970 !important}

/*Rania nav */
.rg-navbar {display: block;list-style-type:none;margin:0;padding:0;overflow:hidden;}
.rg-navbar li{float:left}.rg-navbar li a{display:block;padding:16px 16px; font-size: 24px;}.rg-navbar li a:hover{color:#fff;background-color:#555599}
.rg-navbar .rg-dropdown-hover,.rg-navbar .rg-dropdown-click{position:static}
.rg-navbar .rg-dropdown-hover:hover,.rg-navbar .rg-dropdown-hover:first-child,.rg-navbar .rg-dropdown-click:hover{background-color:#ccc;color:#000;}
.rg-topnav{padding:8px 8px}
.rg-navbar a,.rg-topnav a,.rg-sidenav a,.rg-dropnav a,.rg-dropdown-content a{text-decoration:none !important}
.rg-navbar ul.rg-right {list-style-type: none;}
.rg-topnav a{padding: 0px;border-bottom:0px solid transparent}
.rg-topnav a:hover{border-bottom:0px solid #000}
.rg-topnav .rg-dropdown-hover a{border-bottom:0}
.rg-opennav,.rg-closenav{color:inherit}
.rg-opennav:hover,.rg-closenav:hover{cursor:pointer;opacity:0.8}
.rg-navbar a,.rg-topnav a,.rg-sidenav a,.rg-dropnav a,.rg-pagination li a,.rg-hoverable tbody tr,.rg-btn,.rg-btn-floating,.rg-btn-floating-large
{-webkit-transition:all 0.3s ease;transition:all 0.3s ease}

.rg-repeat {background-repeat: repeat-x; background-image: url("/images/grayscaled/dconglasses.jpg"); width: 50px; height: 50px;}
.rg-vw-font-20 {font-size: 20vw}
.rg-vw-font-5 {font-size: 5vw}
.rg-vw-size-100 {width: 100vw}

.rg-right-corner{position: absolute; bottom: 0; right: 0;}
.rg-row{position: absolute; align-self: center;}
.rg-in-row{position: relative;}


.rg-blue{color:rgb(255,255,255) !important; background-color: rgb(0,0,100) !important}, .rg-hover-blue:hover{color: #fff !important; background-color: #000000 !important}
p span {
    position: absolute;
    left: 0%;
    top: 300px;
    text-align: center;
    color:white;
    font: bold 10vw Arial, Sans-Serif;
    letter-spacing: 5vw;
    background: rgb(0, 0, 100);
    background: rgba(0,0,100,0.7);
    padding: 0px 0px 0px 0px;
}
/*if less than small, hide this element*/

p span:hover {
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
}

.row:after {
  content: "";
  clear: both;
  display: block;
}
#projects {
  left: 20%
}

.summary {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
}

.rg-circle{border-radius:50% !important}
